*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:
    radial-gradient(circle at center,#262626 0%,#111111 45%,#030303 100%);
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    overflow:hidden;
}

.header{
    text-align:center;
    padding:10px;
}

.logo{
    width:min(550px,90vw);
    max-height:110px;
    object-fit:contain;
}

.header h1{
    margin-top:8px;
    font-size:20px;
    font-weight:400;
    letter-spacing:6px;
    color:#c9a35b;
}

.main-viewer{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:25px;
    height:calc(100vh - 220px);
}

.book-area{
    position:relative;
}

#flipbook{
    width:1200px;
    height:760px;
}

#flipbook .page{
    background:white;
}

#flipbook .page img{
    width:100%;
    height:100%;
    display:block;
    object-fit:contain;
    background:white;
}

.nav-btn{
    width:65px;
    height:65px;
    border-radius:50%;
    border:1px solid #c9a35b;
    background:rgba(0,0,0,.6);
    color:#c9a35b;
    font-size:55px;
    line-height:55px;
    cursor:pointer;
    transition:.25s;
}

.nav-btn:hover{
    background:#c9a35b;
    color:#000;
}

.controls{
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:15px;
}

.controls button{
    background:#c9a35b;
    color:#000;
    border:none;
    padding:12px 20px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}

#counter{
    font-size:20px;
    font-weight:bold;
}

@media(max-width:1200px){

    #flipbook{
        width:900px;
        height:570px;
    }

}

@media(max-width:900px){

    body{
        overflow:auto;
    }

    .main-viewer{
        flex-direction:column;
        height:auto;
    }

    #flipbook{
        width:95vw;
        height:65vw;
    }

    .nav-btn{
        width:45px;
        height:45px;
        font-size:35px;
        line-height:35px;
    }

    .header h1{
        font-size:14px;
        letter-spacing:3px;
    }

}
