*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  background:radial-gradient(circle at center,#262626 0%,#111 45%,#030303 100%);
  font-family:Arial, Helvetica, sans-serif;
  color:#fff;
  overflow:hidden;
}

.header{
  text-align:center;
  height:135px;
  padding:8px 10px 0;
}

.logo{
  width:min(470px,85vw);
  max-height:82px;
  object-fit:contain;
}

.header h1{
  margin-top:4px;
  font-size:17px;
  font-weight:400;
  letter-spacing:5px;
  color:#c9a35b;
}

.main-viewer{
  height:calc(100vh - 200px);
  display:flex;
  align-items:center;
  justify-content:center;
  gap:16px;
  width:100%;
}

.book-area{
  display:flex;
  align-items:center;
  justify-content:center;
}

#flipbook{
  margin:auto;
}

#flipbook .page{
  background:white;
  overflow:hidden;
}

#flipbook .page img{
  width:100%;
  height:100%;
  display:block;
  object-fit:cover;
  object-position:center center;
  background:white;
}

.nav-btn{
  width:54px;
  height:54px;
  border-radius:50%;
  border:1px solid #c9a35b;
  background:rgba(0,0,0,.65);
  color:#c9a35b;
  font-size:48px;
  line-height:45px;
  cursor:pointer;
  z-index:20;
}

.nav-btn:hover{
  background:#c9a35b;
  color:#000;
}

.controls{
  height:65px;
  display:flex;
  align-items:center;
  justify-content:center;
  gap:15px;
}

.controls button{
  background:#c9a35b;
  color:#000;
  border:none;
  padding:11px 20px;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

#counter{
  font-size:18px;
  font-weight:bold;
}

@media(max-width:900px){
  body{
    overflow:auto;
  }

  .header{
    height:auto;
  }

  .main-viewer{
    height:auto;
    padding:10px 0;
    gap:8px;
  }

  .nav-btn{
    width:42px;
    height:42px;
    font-size:36px;
    line-height:34px;
  }

  .header h1{
    font-size:13px;
    letter-spacing:3px;
  }
}
